##### Intellij IDEA
*.iml
.idea/*
# Icon for this project
!.idea/icon.png
# Sets the default file encoding to UTF-8
!.idea/encodings.xml
# Save the project name
!.idea/.name

##### Ignore Home Assistant runtime folders
# UI configuration
.storage
# Home Assistant Cloud settings
.cloud
.google.token
# Components installed using the community store
custom_components
# Themes installed using the community store
themes/*
!themes/fix.md
# Integrations installed using the community store
www/community
# Zigbee network (conbee stick)
zigbee.db
zigbee.db-journal
zigbee.db-shm
zigbee.db-wal
# Zigbee network map
neighbours
# Zigbee firmware upgrades
zigbee_firmware
# Version of Home Assistant
.HA_VERSION
# Log files (current and historic)
home-assistant.log
home-assistant.log.*
# Cached text-to-speach files
tts
# Images uploaded using the UI
image
# Glances config file
glances.conf
# Blueprints added using the UI
blueprints
# Automations created using the UI
automations.yaml
# Scripts created using the UI
scripts.yaml
# ESPHome (manage using the UI)
esphome
# Zigbee2mqtt storage files
zigbee2mqtt

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
credentials
known_devices.yaml
# Contains the REST api token
api/rest-client.env.json
# Storage of the shopping list
.shopping_list.json